<ion-header>
  <ion-toolbar>
    <ion-icon (click)="presentPopover($event)" slot="primary" style="font-size: x-large; font-size: x-large; padding-right: 5%;" color="light" name="settings-outline"></ion-icon>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-content class="ion-padding" routerLink="forgetpwd" (click)="closePopover()">Forget Password</ion-content>
        <ion-content class="ion-padding" (click)="changeThemeActionSheet()">Change Theme</ion-content>
        <ion-content class="ion-padding" (click)="changeLangActionSheet()">Change Language</ion-content>
      </ng-template>
    </ion-popover>

  <ion-title color="light" *ngIf="isLogin"  translate="login.TITLE"></ion-title>
    <ion-title color="light" *ngIf="!isLogin"  translate="signup.TITLE"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="row">
    <div class="login-box">
      <div class="login-key">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>

      <div class="login-form">
        <div class="login-form">
          <form [formGroup]="regCredentials">
            <div class="form-group" *ngIf="!isLogin">
              <label class="form-control-label" required>USERNAME</label>
              <input
                name="username"
                formControlName="username"
                type="text"
                class="form-control"
              />
              <span
                class="text-error"
                *ngIf="regCredentials.get('username').hasError('required')  && regCredentials.get('username').touched"
                >Please enter username</span
              >
            </div>
            <div class="form-group">
              <label class="form-control-label">Email</label>
              <input
                name="email"
                formControlName="email"
                type="email"
                class="form-control"
              />
              <span
                class="text-error"
                *ngIf="regCredentials.get('email').hasError('required') && regCredentials.get('email').touched"
                >Please enter valid email</span
              >
              <span
                class="text-error"
                *ngIf="regCredentials.get('email').hasError('pattern') && regCredentials.get('email').touched"
                >Please enter valid email</span
              >
            </div>
            <div class="form-group">
              <label class="form-control-label" required>PASSWORD</label>
              <input
                name="pwd"
                formControlName="pwd"
                type="password"
                [min]="8"
                class="form-control"
              />
              <span
                class="text-error"
                *ngIf="regCredentials.get('pwd').hasError('required') && regCredentials.get('pwd').touched"
                >Please enter Password</span
              >
              <span
                class="text-error"
                *ngIf="regCredentials.get('pwd').hasError('minlength') && regCredentials.get('pwd').touched"
                >Password should be atleast 8 length.</span
              >
            </div>

            <ion-item lines="none" class="rememberMe">
              <ion-checkbox
                slot="start"
                [indeterminate]="false"
                (ionChange)="checkboxes($event)"
                [checked]="checkboxStatus"
              ></ion-checkbox>
              <ion-label color="light" translate="login.REMEMBERME"></ion-label>
            </ion-item>

            <div class="button_switch_form">
              <div class="loginbttm">
                <div class="login-btm login-text"></div>
                <div class="login-btm login-button">
                  <button
                    (click)="authenticate('signup')"
                    *ngIf="!isLogin"
                    id="submitbtn"
                    type="submit"
                    class="btn btn-outline-primary"
                    [disabled]="regCredentials.invalid"
                    translate="signup.TITLE"
                  >
                  </button>

                  <button
                    (click)="authenticate('login')"
                    *ngIf="isLogin"
                    id="submitbtn"
                    type="submit"
                    class="btn btn-outline-primary"
                    [disabled]="regCredentials.invalid"
                    translate="login.TITLE"
                  >
                  </button>
                </div>
              </div>
              <div class="SwitchLoginLogout">
                <div class="login-btm login-text">
                  Switch To
                  <span color="light"
                    style="
                      text-decoration: underline;
                      cursor: pointer;
                    "
                    (click)="switchRegLogin()"
                    >{{isLogin ? 'sign Up': 'Login'}}</span
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
