.scroll{
  height:100% !important
}

.login-box
{
  width: 100%;
  // background: #1A2226;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 100vh;
  padding-top: 100px;
}

.login-key {
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-title
{
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  // color: #ECF0F5;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

input[type=text] , input[type=email]
{
  // background-color: #1A2226;
  border: none;
  border-bottom: 2px solid #0DB8DE;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  // color: #ECF0F5;
}

input[type=password] {
  // background-color: #1A2226;
  border: none;
  border-bottom: 2px solid #0DB8DE;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
  // color: #ECF0F5;
}

.form-group {
  outline: 0px;
  padding: 0% 15% 0% 15%;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0DB8DE;
  outline: 0;
  // background-color: #1A2226;
  // color: #ECF0F5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 10px;
  // color: #6C6C6C;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: #0DB8DE;
  color: #0DB8DE;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  // background-color: #0DB8DE;
  right: 0px;
}

.login-btm {
  float: left;
}

.login-button {
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}

.login-text {
  text-align: left;
  padding-left: 0px;
  // color: #A2A4A4;
}

.loginbttm
{
  padding: 0% 15% 0% 15%;
}

ion-item,ion-list,ion-radio-group
{
  // --background: #1A2226;
  ion-label
  {
    // --color: white;
  }
}

.text-error
{
  color: red;
}

.button_switch_form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.rememberMe
{
  padding: 0% 15% 0% 10%;
}

ion-checkbox {
  --size: 20px;
  --background-checked: #6815ec;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #6815ec;
}

.SwitchLoginLogout
{
  width: 100%;
  padding: 0px;
  padding: 0% 15% 0% 15%;
  display: flex;
  justify-content: center;
}



::ng-deep .actionSheetText {
  --background: var();
  --backdrop-opacity: 0.6;
  --button-background-selected: #e97223;
  --button-color: var(--ion-color-light);
  --color: var(--ion-color-light);
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #000000;
}
