<ion-header>
  <ion-toolbar>
    <ion-title color="light">{{email}}</ion-title>
    <ion-buttons slot="primary">
      <ion-menu-button color="light" menu="side-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="data" *ngIf="isLoading">
    <div>
      <img src="{{img}}" />
    </div>
    <div class="text_details">
      <div>
        <label>Name<b>:</b></label>
        <span>{{name}}</span>
      </div>
      <div>
        <label>DOB<b>:</b></label>
        <span>{{dob}} years old</span>
      </div>
      <div>
        <label>Gender<b>:</b></label>
        <span>{{gender}}</span>
      </div>
    </div>
  </div>

  <section class="Multiple_cards">
    <ion-card routerLink="infoedit">
      <ion-card-header>
        <ion-card-title color="light">Info-Edit</ion-card-title>
      </ion-card-header>

    </ion-card>

    <ion-card routerLink="projectslist">
      <ion-card-header>
        <ion-card-title color="light">Projects</ion-card-title>
      </ion-card-header>

    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title color="light">Card Title</ion-card-title>
      </ion-card-header>

    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title color="light">Card Title</ion-card-title>
      </ion-card-header>

    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title color="light">Card Title</ion-card-title>
      </ion-card-header>

    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title color="light">Card Title</ion-card-title>
      </ion-card-header>

    </ion-card>

  </section>
</ion-content>
